body {
    margin: 0;
    font-family: Helvetica;
    position: relative;
}
/* navbar */
.header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 100px;
    background: #ffffff;
    align-items: center;
}
.header .navbar{
    width: 770px;
    text-align: center;
    font-size: 32px;
    padding: 40px 1095px;
}

.navbar ul {
    list-style-type: none; 
    padding-left: 0; 
    margin: 0; 
    display: flex; 
}

.navbar li {
    margin-right: 40px;
    color: black; 
}
/* logo */
.logo{
    position: absolute;
    width: 214px; 
    height: 39px;
    background-color: blue;
    top: 45px; 
    left: 372px; 
}

/* sidebar */
.sidebar {
    position: relative;
    width: 320px;  
    height: 1080px;
    background-color: #21769C;
}
.sidebar .doctor{
    position: absolute;
    top: 46px;  
    left: 54px; 
    font-size: 32px; 
    color: white;
    text-align: center;
}

.sidebar .bodyparts{
    position: absolute;
    top: 104px;  
    left: 74px; 
    font-size: 20px;
    color: white;
    text-align: left;
}
.bodyparts ul {
    list-style-type: none; 
    padding-left: 0; 
    margin: 0; 
    margin-left: 0px;
}
.bodyparts li {
    margin-bottom: 7px; 
}
.sidebar .clinics{
    position: absolute;
    top: 569px;  
    left: 54px; 
    font-size: 32px; 
    color: white;
    text-align: center;
}
.sidebar .clinictype{
    position: absolute;
    top: 637px;  
    left: 74px;
    font-size: 20px;
    color: white;
    text-align: left;
}
.clinictype ul{
    list-style-type: none; 
    padding-left: 0; 
    margin: 0; 
    margin-left: 0px;
}
.clinictype li {
    margin-bottom: 7px; 
}
.sidebar .appointmed2024{
    position: absolute;
    top: 1036px;  
    left: 54px; 
    font-size: 12px; 
    color: white;
    text-align: center;
    line-height: 50px; 
}
.sidebar .about{
    position: absolute;
    top: 1036px;  
    left: 246px; 
    font-size: 12px; 
    color: white;
    text-align: center;
    line-height: 50px; /* Vertically center text */
}

/* doctorlist */
.doctorlist {
    position: absolute;
    top: 113px; 
    left: 370px;
    display: flex; /* Activate flexbox for this container */
    flex-wrap: wrap;
    gap: 23px; /* Set gap between items */
    justify-content: flex-start; /* Align items to the start */
    align-items: flex-start; 
    width: 1505px; /* Set width as specified */
    height: 980px; /* Set height as specified */
    background-color: blue; /* Optional: Add a background color for visibility */
}

.doctorprofile {
    background-color: coral;
    width: 359px; /* Set width as specified */
    height: 474px; /* Set height as specified */
    font-size: 24px;
    color: white;
}