*
{
    font-family: "Montserrat", sans-serif;
    /*
    border-style: dashed;
    border-color: gray;
    */
}

body
{
    background-color: rgba(33, 118, 156, 0.025);
}

#menu-container, .menu
{
    border-radius: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#menu-container
{
    width: 1024px;
    height: 768px;
    box-shadow: -4px 4px 4px #aaaaaa;
}

.hideMenu
{
    visibility: hidden;
}

/*sign up form css*/
.signUpFormMenu
{   
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    /*left side*/
    .signUpHeader
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .leftLogInRedirect
    {
        width: 384px;
        height: auto;
        background-color: 21769c;
        border-radius: 25px 0px 0px 25px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .logInMessage, .logInButton
    {
        margin: 0px auto 0px auto;
    }

    /*right side*/
    .rightSignUpForm
    {
        width: 640px;
        height: auto;
        background-color: ffffff;
        border-radius: 0px 25px 25px 0px;
        padding: 25px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .signUpMessage, .signUpFields
    {
        margin: 0px auto 0px auto;
    }

    .signUpFields
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .fieldClusterX
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .fieldClusterY
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }