{% load static %}

<html lang="en">
    <head>
        <title>Appointmed</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">

        <link rel="stylesheet" href="{% static 'css/doctor_home.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <!--daypilot calendar library-->
        <script src="{% static 'js/daypilot-all.min.js' %}" async></script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                let dayView, weekView, monthView;
                let placeholder = [];
                
                const globalView = document.getElementById('global-current-view');
                const currentViewList = document.querySelectorAll('.current-view-input');

                function setView(view) {
                    globalView.value = view;
                    currentViewList.forEach( current_view => {
                        current_view.value = view;
                    });
                    showView(view);
                }
                
                fetch("{% url 'doctor appointment api' %}")
                .then((response) => response.json())
                .then((data) => {
                    console.log("Received event data: ", data);
                    placeholder = data.map(event => ({
                        ...event,
                        ...getEventStyles(event.status)
                    }));

                    const initialView = "{{ current_view|default:'Week' }}";
                    console.log("Initial value:", initialView);
                    setView(initialView);
                });

                function getEventStyles(status) {
                    switch (status) {
                        case "scheduled": 
                            return {
                                backColor: "#2fea004d",           
                                fontColor: "#002a3d",
                                
                                barHidden: true,
                                barColor: "#6aa84f",
                                borderColor: "transparent",
                                toolTip: "Scheduled appointment", //works by hovering on an appointment
                                // fontSize: "20px",             
                                // fontFamily: "Arial, sans-serif", 
                                // toolTip: "Scheduled Appointment",
                            };
                        case "canceled": 
                            return {
                                backColor: "#ff00004d",           
                                fontColor: "#002a3d",           
                                barHidden: false,
                                barColor: "#00b31d",
                                borderColor: "transparent",
                                toolTip: "Canceled appointment",
                            };      
                        case "pending": 
                            return {
                                backColor: "#faff004d",          
                                fontColor: "#002a3d",           
                                barHidden: false,
                                barColor: "#00b31d",
                                borderColor: "transparent",
                                toolTip: "Pending appointment",
                            };
                        case "rescheduled": 
                        return {
                            backColor: "#faff004d",          
                            fontColor: "#002a3d",           
                            barHidden: false,
                            barColor: "#00b31d",
                            borderColor: "transparent",
                            toolTip: "Rescheduled appointment. Waiting for patient approval.",
                        };  
                        case "completed": 
                            return {
                                backColor: "transparent",     
                                fontColor: "#002a3d",          
                                barHidden: false,
                                barColor: "#00b31d",
                                borderColor: "#003249",
                                toolTip: "Completed appointment",
                            };      
                        default:
                            return {
                                backColor: "transparent",     
                                fontColor: "#002a3d",          
                                barHidden: false,
                                barColor: "#00b31d",
                                borderColor: "#003249",
                            };  
                    }
                }

                function showView(view) {
                    if (dayView) dayView.dispose();
                    if (weekView) weekView.dispose();
                    if (monthView) monthView.dispose();

                    document.getElementById("dpDay").style.display = "none";
                    document.getElementById("dpWeek").style.display = "none";
                    document.getElementById("dpMonth").style.display = "none";
                    const buttonLabel = document.getElementById("buttonLabel");

                    document.getElementById("dpDay").innerHTML = "";
                    document.getElementById("dpWeek").innerHTML = "";
                    document.getElementById("dpMonth").innerHTML = "";

                    if (view === "Day") {
                        dayView = new DayPilot.Calendar("dpDay", { viewType: "Day" });
                        dayView.events.list = placeholder;

                        dayView.onEventResize = function (args) {
                            args.preventDefault();
                        }
                    
                        dayView.onEventResized = function (args) {
                            args.allowed = false;
                        }

                        dayView.onEventMove = function (args) {
                            if (args.e.data.status === "pending" || args.e.data.status === "rescheduled") {
                            }
                            else {
                                args.preventDefault();
                                alert("Only pending or rescheduled appointments can be rescheduled.");
                                return;
                            }
                        };
                        
                        dayView.onEventMoved = function (args) {
                            const appointment = {
                                id: args.e.data.id,
                                newStart: args.newStart.toString(),
                                newEnd: args.newEnd.toString()
                            };
                            
                            fetch("{% url 'doctor reschedule api' %}", {
                                method: "POST",
                                headers: {
                                    "Content-type": "application/json",
                                    "X-CSRFToken": "{{ csrf_token }}",
                                },
                                body: JSON.stringify(appointment),
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    alert('Appointment rescheduled successfully. Waiting for patient approval.');
                                    location.reload();
                                } else {
                                    alert(data.error);
                                    args.e.start = args.e.data.start;
                                    args.e.end = args.e.data.end;
                                    dayView.update();
                                    location.reload();
                                }
                            })
                            .catch(error => {
                                alert("Failed to reschedule appointment: ", error);
                                args.e.start = args.e.data.start;
                                args.e.end = args.e.data.end;
                                dayView.update();
                                location.reload();
                            })
                        };

                        dayView.width = "101.25%";
                        dayView.cellHeight = 35;
                        dayView.headerHeight = 35;
                        
                        dayView.init();
                        document.getElementById("dpDay").style.display = "block";
                        //put div container inside for label and icon
                        buttonLabel.innerHTML = "<h1>Daily</h1> <img src=\"/static/images/calendar_format_icon.png\">";
                    } else if (view === "Week") {
                        weekView = new DayPilot.Calendar("dpWeek", { viewType: "Week" });
                        weekView.events.list = placeholder;
                        
                        weekView.onEventResize = function (args) {
                            args.preventDefault();
                        }
                    
                        weekView.onEventResized = function (args) {
                            args.allowed = false;
                        }

                        weekView.onEventMove = function (args) {
                            if (args.e.data.status === "pending" || args.e.data.status === "rescheduled") {
                            }
                            else {
                                args.preventDefault();
                                alert("Only pending or rescheduled appointments can be rescheduled.");
                                return;
                            }
                        };

                        weekView.onEventMoved = function (args) {
                            const appointment = {
                                id: args.e.data.id,
                                newStart: args.newStart.toString(),
                                newEnd: args.newEnd.toString(),
                                status: args.e.data.status,
                            };

                            fetch("{% url 'doctor reschedule api' %}", {
                                method: "POST",
                                headers: {
                                    "Content-type": "application/json",
                                    "X-CSRFToken": "{{ csrf_token }}"
                                },
                                body: JSON.stringify(appointment),
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    alert('Appointment rescheduled successfully.');
                                    console.log('New start: ', appointment.newStart);
                                    location.reload();
                                } else {
                                    alert(data.error);
                                    console.log(appointment.newStart);
                                    console.log('Server time:', data.minjitime)
                                    args.e.start = args.e.data.start;
                                    args.e.end = args.e.data.end;
                                    weekView.update();
                                    location.reload();
                                }
                            })
                            .catch(error => {
                                alert("Failed to reschedule appointment: ", error);
                                args.e.start = args.e.data.start;
                                args.e.end = args.e.data.end;
                                weekView.update();
                                location.reload();
                            })
                        };
                        
                        weekView.width = "101.25%";
                        weekView.cellHeight = 35;
                        weekView.headerHeight = 35;

                        weekView.init();
                        document.getElementById("dpWeek").style.display = "block";
                        //put div container inside for label and icon
                        buttonLabel.innerHTML = "<h1>Weekly</h1> <img src=\"/static/images/calendar_format_icon.png\">";
                    } else if (view === "Month") {
                        monthView = new DayPilot.Month("dpMonth", { eventHeight: 32 });
                        monthView.events.list = placeholder;

                        monthView.onEventMove = function (args) {
                            args.preventDefault();
                            alert('Appointment rescheduling is only allowed in day/week calendar.')
                        };

                        monthView.width = "101.25%";
                        monthView.cellHeight = 140;
                        monthView.headerHeight = 50;

                        monthView.init();
                        document.getElementById("dpMonth").style.display = "block";
                        //put div container inside for label and icon
                        buttonLabel.innerHTML = "<h1>Monthly</h1> <img src=\"/static/images/calendar_format_icon.png\">";
                    }
                }

                document.getElementById("buttonDay").addEventListener("click", function () {
                    setView("Day");
                });

                document.getElementById("buttonWeek").addEventListener("click", function () {
                    setView("Week");
                });

                document.getElementById("buttonMonth").addEventListener("click", function () {
                    setView("Month");
                });
            });
        </script>
        <script src="{% static 'js/doctor_home.js' %}" async></script>
    </head>
    
    <body>
        <div id="header-container">
            <h1 id="header-message">Hello, <i>Dr. {{ doctor.user.first_name }}</i>!</h1>

            <div id="icon-bar">
                <div id="date-n-time">
                    <p>{% now "F j, Y" %}</p>
                    <p>{% now "g:i A" %}</p>
                </div>
                
                <div class="navbarMenus">
                    <!--change to proper notif icon-->
                    <img id="notification-button" onclick="showNotificationMenu()" src="{% static 'images/doctor_notification_icon.png'%}">

                    <div id="notification-menu" class="hideMenu">
                        <!--change to proper logo-->
                        <h1 id="notification-menu-label">Notifications</h1>
                        <hr>
                        
                        <div id="user-notifications">
                            {% if notifications|length == 0 %}
                                <div id="empty-notification">
                                    <h1>Nothing to see here.</h1>
                                </div>
                            {% endif %}
                            {% for notification in notifications %}
                                <div class="notificationItem">
                                    <div class="notificationDetails">
                                        <div class="notificationLeft">
                                            <!--change to proper picture-->
                                            <img class="notificationPicture" src="{% static 'images/notification_menu_picture_default.png'%}">
                                        </div>
                                        
                                        {% if notification.notification_type == "set" %}
                                            <div class="notificationRight">
                                                <h1><b>{{ notification.appointment.patient.user.first_name }} {{ notification.appointment.patient.user.last_name }}</b> 
                                                has requested a new appointment scheduled on {{ notification.appointment.appointment_date }}.</h1>
                                                <p>{{ notification.time_ago }}</p>
                                            </div>
                                        {% elif notification.notification_type == "canceled" %}
                                            <div class="notificationRight">
                                                <h1><b>{{ notification.appointment.patient.user.first_name }} {{ notification.appointment.patient.user.last_name }}</b> 
                                                has canceled their appointment previously scheduled on {{ notification.appointment.appointment_date }}.</h1>
                                                <p>{{ notification.time_ago }}</p>
                                            </div>
                                        {% elif notification.notification_type == "reschedule_accepted" %}
                                            <div class="notificationRight">
                                                <h1><b>{{ notification.appointment.patient.user.first_name }} {{ notification.appointment.patient.user.last_name }}</b> 
                                                has confirmed the rescheduled appointment on {{ notification.appointment.appointment_date }}.</h1>
                                                <p>{{ notification.time_ago }}</p>
                                            </div>
                                        {% elif notification.notification_type == "reschedule_rejected" %}
                                            <div class="notificationRight">
                                                <h1><b>{{ notification.appointment.patient.user.first_name }} {{ notification.appointment.patient.user.last_name }}</b> 
                                                has declined the proposed rescheduled appointment on {{ notification.appointment.appointment_date }}.</h1>
                                                <p>{{ notification.time_ago }}</p>
                                            </div>
                                        {% endif %}
                                    </div>
                
                                    <hr>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="navbarMenus">
                    <!--change to proper user picture-->
                    <img id="user-menu-button" onclick="showUserMenu()" src="{% static 'images/user_menu_icon_default.png'%}">

                    <div id="user-menu" class="hideMenu">
                        <!--change to proper logo-->
                        <h1 id="user-menu-logo">AppointMed</h1>
            
                        <div id="user-profile">
                            <!--change to proper picture-->
                            <img id="user-picture" src="{% static 'images/user_menu_picture_default.png'%}">
                            <h1 id="user-name">Dr. {{ doctor.user.first_name }} {{ doctor.user.last_name }}</h1>
                            <h1 id="doctor-specialty">{Specialty}</h1>
                            <i id="clinic-address">{Clinic Address}</i>
                            <p id="clinic-status">Status: <b>{Status}</b></p>
                            <!--add log out icon-->
                            <button type="button" id="log-out-button" onclick="window.location.href={% url "logout" %}">Log out</button>
                            <p id="appointmed-2024">© AppointMed 2024</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="body-container">
            <!-- calendar from: https://code.daypilot.org/27988/html5-calendar-with-day-week-month-views-javascript-php -->
            <div id="calendar-container">
                <div class="main" style="display: flex; justify-content: flex-start;">
                    <!--filter buttons and calendar-->
                    <div style="flex-grow: 1;">
                        <button id="buttonLabel"></button>
                        <div id="buttonsMenu" class="toolbar buttons">
                            <button id="buttonDay">Daily</button>
                            <button id="buttonWeek">Weekly</button>
                            <button id="buttonMonth">Monthly</button>
                        </div>
                        <div id="dpDay" class="calendars"></div>
                        <div id="dpWeek" class="calendars"></div>
                        <div id="dpMonth" class="calendars"></div>
                    </div>

                    <!--3 side calendars-->
                    <div style="visibility: hidden;">
                        <div id="nav"></div>
                    </div>
                </div>

                <div id="calendar-legends">
                    <div id="scheduled-icon"></div>
                    <p>Scheduled</p>
                    <div id="pending-icon"></div>
                    <p>Pending</p>
                    <div id="rejected-icon"></div>
                    <p>Rejected</p>
                    <div id="completed-icon"></div>
                    <p>Completed</p>
                </div>
            </div>

            <div id="appointments-container">
                <h1>APPOINTMENTS</h1>

                <div id="appointments-filters">
                    <button type="button" id="pending-filter" onclick="pendingSelected()">Pending ({{ pending_length }}) </button>
                    <button type="button" id="scheduled-filter" class="appointmentsFilterUnselected" onclick="scheduledSelected()">Scheduled ({{ scheduled_length }}) </button>
                    <button type="button" id="rejected-filter" class="appointmentsFilterUnselected" onclick="rejectedSelected()">Rejected ({{ rejected_length }})</button>
                </div>

                <div id="appointments-list">
                    {% if appointments|length == 0 %}
                        <p>There are no pending appointments.</p>
                    {% endif %}
                    
                    <form action="{% url 'process appointment' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="current-view" id="global-current-view" value="Week">
                    </form>
                    
                    {% for appointment in appointments %}
                        <div class="appointmentItem {{ appointment.status }}">
                            <div class="appointmentDetails">
                                <div class="appointmentLeft">
                                    <h1>{{ appointment.patient.user.first_name }} {{ appointment.patient.user.last_name }}</h1>
                                    <p>{{ appointment.appointment_date }}</p>
                                </div>
                                
                                <div class="appointmentRight">
                                    <form action="{% url 'process appointment' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="appointment-id" value="{{ appointment.id }}">
                                        <input type="hidden" name="current-view" class="current-view-input" value="">

                                        {% if appointment.status == 'pending' %}
                                            <button type="submit" class="acceptButton" name="action" value="accept">Accept</button>
                                            <button type="submit" class="rejectButton" name="action" value="reject">Reject</button>
                                        {% elif appointment.status == 'rejected' %}
                                            <button type="submit" class="rejectButton" name="action" value="delete">Delete</button>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                            
                            <hr>
                        </div>
                    {% endfor %}
                </div>
                
                <p id="slots-counter">Slots available: <b>{x}</b></p>
            </div>
        </div>
    </body>
</html>
