{% load static %}

<html lang="en">
    <head>
        <title>Appointmed</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">

        <link rel="stylesheet" href="{% static 'css/doctor_home.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <!--daypilot calendar library-->
        <style>
            
            .event-scheduled { 
                background-color: lightblue;
                color: darkblue;
                border: 1px solid gray;
                font-size: 12px;
                font-family: "Verdana", sans-serif;
                font-weight: bold; 
            }
            .event-scheduled .duration-bar {
                background-color: orange; /* For the duration bar */
            }
            .event-canceled { background-color: red; }
            .event-pending { background-color: yellow; }
            .event-completed { background-color: transparent; }
        </style>

        <script src="{% static 'js/daypilot-all.min.js' %}" async></script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                let dayView, weekView, monthView;
                let placeholder = [];

                fetch("{% url 'doctor appointment api' %}")
                .then((response) => response.json())
                .then((data) => {
                    placeholder = data.map(event => ({
                        ...event,
                        ...getEventStyles(event.status)
                    }));

                    showView("Week");
                });

                function getEventStyles(status) {
                    switch (status) {
                        case "scheduled": 
                            return {
                                backColor: "green",           
                                fontColor: "white",
                                
                                barHidden: true,
                                barColor: "#6aa84f",
                                borderColor: "darkgreen",
                                toolTip: "shy shy shy",
                                // doesnt seem to work
                                // fontSize: "20px",             
                                // fontFamily: "Arial, sans-serif", 
                                // toolTip: "Scheduled Appointment",
                                
                            };
                        case "canceled": 
                            return {
                                backColor: "red",           
                                fontColor: "white",           
                                barHidden: false,
                                barColor: "#6aa84f",
                                borderColor: "darkgreen",
                            };      
                        case "pending": 
                            return {
                                backColor: "yellow",          
                                fontColor: "black",           
                                barHidden: false,
                                barColor: "#6aa84f",
                                borderColor: "darkgreen",
                            };    
                        case "completed": 
                            return {
                                backColor: "transparent",     
                                fontColor: "black",          
                                barHidden: false,
                                barColor: "#6aa84f",
                                borderColor: "darkgreen",
                            };      
                        default:
                            return {
                                backColor: "yellow",          
                                fontColor: "black",           
                                barHidden: false,
                                barColor: "#6aa84f",
                                borderColor: "darkgreen",
                            };  
                    }
                }

                function showView(view) {
                    if (dayView) dayView.dispose();
                    if (weekView) weekView.dispose();
                    if (monthView) monthView.dispose();

                    document.getElementById("dpDay").style.display = "none";
                    document.getElementById("dpWeek").style.display = "none";
                    document.getElementById("dpMonth").style.display = "none";

                    // document.getElementById("dpDay").innerHTML = "";
                    // document.getElementById("dpWeek").innerHTML = "";
                    // document.getElementById("dpMonth").innerHTML = "";

                    if (view === "Day") {
                        dayView = new DayPilot.Calendar("dpDay", { viewType: "Day" });
                        dayView.events.list = placeholder;
                        dayView.init();
                        document.getElementById("dpDay").style.display = "block";
                    } else if (view === "Week") {
                        weekView = new DayPilot.Calendar("dpWeek", { viewType: "Week" });
                        weekView.events.list = placeholder;
                        weekView.init();
                        document.getElementById("dpWeek").style.display = "block";
                    } else if (view === "Month") {
                        monthView = new DayPilot.Month("dpMonth", { eventHeight: 32 });
                        monthView.events.list = placeholder;
                        monthView.init();
                        document.getElementById("dpMonth").style.display = "block";
                    }
                }

                document.getElementById("buttonDay").addEventListener("click", function () {
                    showView("Day");
                });

                document.getElementById("buttonWeek").addEventListener("click", function () {
                    showView("Week");
                });

                document.getElementById("buttonMonth").addEventListener("click", function () {
                    showView("Month");
                });
            });
        </script>
        
    </head>
    
    <body>
        <div id="header-container">
            <h1 id="header-message">Hello, <i>Dr. {{ doctor.user.first_name }}</i>!</h1>

            <div id="icon-bar">
                <div id="date-n-time">
                    <p>{% now "F j, Y" %}</p>
                    <p>{% now "g:i A" %}</p>
                </div>

                <button type="button" id="note-button">note</button>
                <button type="button" id="notification-button">notification</button>
                <button type="button" id="about-button">about</button>
                <button type="button" id="user-menu-button">user</button>
            </div>
        </div>

        <div id="body-container">
            <!-- calendar from: https://code.daypilot.org/27988/html5-calendar-with-day-week-month-views-javascript-php -->
            <div id="calendar-container">
                <div class="main" style="display: flex; justify-content: flex-start;">
                        <!--filter buttons and calendar-->
                        <div style="flex-grow: 1;">
                          <div class="toolbar buttons">
                            <button id="buttonDay">Day</button>
                            <button id="buttonWeek">Week</button>
                            <button id="buttonMonth">Month</button>
                          </div>
                          <div id="dpDay"></div>
                          <div id="dpWeek"></div>
                          <div id="dpMonth"></div>
                        </div>

                        <!--3 side calendars-->
                        <div style="visibility: hidden;">
                            <div id="nav"></div>
                        </div>
                </div>

                <div id="calendar-legends">
                    <p>*icon* Accepted Request</p>
                    <p>*icon* Pending Request</p>
                    <p>*icon* Rejected Request</p>
                </div>
            </div>

            <div id="appointments-container">
                <h1>Appointments</h1>

                <div id="appointments-filters">
                    <button type="button" id="pending-filter">Pending ({x})</button>
                    <button type="button" id="canceled-filter">Canceled ({x})</button>
                </div>

                <div id="appointments-list">

                    {% if appointments|length == 0 %}
                        <p>There are no pending appointments.</p>
                    {% endif %}

                    {% for appointment in appointments %}
                        <div class="appointmentItem">
                            <div class="appointmentDetails">
                                <div class="appointmentLeft">
                                    <h1>{{ appointment.patient.user.first_name }} {{ appointment.patient.user.last_name }}</h1>
                                    <p>{{ appointment.appointment_date }}</p>
                                </div>
            
                                <div class="appointmentRight">
                                    <button type="button" class="acceptButton">Accept</button>
                                    <button type="button" class="rejectButton">Reject</button>
                                </div>
                            </div>
                            
                            <hr>
                        </div>
                    {% endfor %}
                </div>

                <p>Slots available: <i>{x}</i></p>
            </div>
        </div>
        
        <!-- <script src="{% static 'js/doctor_home.js' %}" async></script> -->
    </body>
</html>
