{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="menu-container">
            <!--select role menu-->
            <div id="select-role" class="menu">
                <button type="button" id="select-role-back-button">Back</button>
    
                <h1 id="select-role-message">How would you like to use AppointMed?</h1>
    
                <div id="select-role-buttons">
                    <button type="button" id="select-role-patient-button" onclick="selectPatientRole()">As a patient</button>
                    <button type="button" id="select-role-doctor-button" onclick="selectDoctorRole()">As a doctor</button>
                </div>
    
                <button type="button" id="select-role-continue-button" onclick="continueRole()">Continue</button>
            </div>
    
            <!--patient's log in menu-->
            <div id="patient-log-in" class="logInFormMenu menu hideMenu">
                <div class="leftLogInForm"> 
                    <div class="logInHeader">
                        <button type="button" class="logInBackButton" onclick="switchToSelectRole()">Back</button>
                        <p>insert appointmed logo</p>
                    </div>

                    <h1 class="logInMessage">Welcome back!</h1>
    
                    <form class="logInFields" action='{% url "login" %}' method="post">
                        {% csrf_token %}
                        <input type="hidden" name="user_type" value="patient">
                        <input type="text" id="identifier-field" name="identifier" placeholder="Email or Username">
                        <input type="password" id="password-field" name="password" placeholder="Password">
                        <input type="button" id="forgot-password-button" value="Forgot your password?">
                        <input type="submit" id ="log-in-button" value="Log in">

                        <!--error message-->
                        {% if messages %}
                            <div>{{ messages }}</div>
                        {% endif %}
                        
                    </form>
    
                    <p>*patient's login page</p>
                </div>
    
                <div class="rightSignUpRedirect">
                    <h1 class="signUpMessage">New to AppointMed?</h1>
    
                    <button type="button" class="signUpButton" onclick="window.location.href='{% url 'signup' %}'">Sign Up</button>
                </div>
            </div>
    
            <!--doctor's log in menu-->
            <div id="doctor-log-in" class="logInFormMenu menu hideMenu">
                <div class="leftLogInForm">
                    <div class="logInHeader">
                        <button type="button" class="logInBackButton" onclick="switchToSelectRole()">Back</button>
                        <p>insert appointmed logo</p>
                    </div>

                    <h1 class="logInMessage">Welcome back!</h1>
    
                    <form class="logInFields" action='{% url "login" %}' method="post">
                        {% csrf_token %}
                        <input type="hidden" name="user_type" value="doctor">
                        <input type="text" id="identifier-field" name="identifier" placeholder="Email or Username">
                        <input type="password" id="password-field" name="password" placeholder="Password">
                        <input type="button" id="forgot-password-button" value="Forgot your password?">
                        <input type="submit" id ="log-in-button" value="log in">

                        <!--error message-->
                        {% if messages %}
                            {% for message in messages %}
                                <div>{{ message }}</div>
                            {% endfor %}
                        {% endif %}

                    </form>
    
                    <p>*doctor's login page</p>
                </div>
    
                <div class="rightSignUpRedirect">
                    <h1 class="signUpMessage">New to AppointMed?</h1>
                    <button type="button" class="signUpButton" onclick="window.location.href='{% url 'signup' %}'">Sign Up</button>
                </div>
            </div>
        </div>
    
        <script src="{% static 'js/login.js' %}" async></script>
    </body>
</html>