{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="menu-container">
            <!--select role menu-->
            <div id="select-role" class="menu">
                <!--change to proper icon-->
                <button type="button" id="select-role-back-button" class="hideMenu">:&lt;</button>
    
                <h1 id="select-role-message">How would you like to use AppointMed?</h1>
    
                <div id="select-role-buttons">
                    <div id="patient-button-container" class="roleButtonContainer">
                        <img id="patient-button" class="roleButtons" onclick="selectPatientRole()" src="{% static 'images/patient_type_icon.png'%}">
                        <h1 id="patient-label">As a patient</h1>
                    </div>
                    <div id="doctor-button-container" class="roleButtonContainer">
                        <img id="doctor-button" class="roleButtons" onclick="selectDoctorRole()" src="{% static 'images/doctor_type_icon.png'%}">
                        <h1 id="doctor-label">As a doctor</h1>
                    </div>
                </div>
            </div>
    
            <!--log in menu-->
            <div id="log-in" class="menu">
                <div class="leftLogInForm">
                    <!--change to proper logo-->
                    <button type="button" id="log-in-back-button" onclick="switchToSelectRole()">AppointMed</button>

                    <h1 class="logInMessage">Welcome back!</h1>
    
                    <form class="logInFields" action='{% url "login" %}' method="post">
                        {% csrf_token %}
                        <input type="hidden" id="user-type" name="user_type" value="">
                        <input type="text" id="identifier-field" name="identifier" placeholder="Email or Username">
                        <input type="password" id="password-field" name="password" placeholder="Password">

                        <!--error message-->
                        {% if messages %}
                            {% for message in messages %}
                                <div>{{ message }}</div>
                            {% endfor %}
                        {% endif %}

                        <input type="button" id="forgot-password-button" value="Forgot your password?">
                        <input type="submit" id ="log-in-button" value="Log In">
                    </form>
                </div>
    
                <div class="rightSignUpRedirect">
                    <h1 class="signUpMessage">New to AppointMed?</h1>
    
                    <button type="button" class="signUpButton" onclick="window.location.href='{% url 'signup' %}'">Sign Up</button>
                </div>
            </div>
        </div>
    
        <script src="{% static 'js/login.js' %}" async></script>
    </body>
</html>