{% load static %}
<html lang="en">
    <link rel="stylesheet" href="{% static 'css/patient_home.css' %}">
    <script src="{% static 'js/daypilot-all.min.js' %}" async></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let weekView = new DayPilot.Calendar("dpWeek", { 
                viewType: "Week",
                startDate: getStartOfWeek(new Date()),
            });
            
            const schedule_btn = document.getElementById("set-schedule-btn");

            function getStartOfWeek(date) {
                const startOfWeek = new Date(date);
                const day = startOfWeek.getDay(); 

                startOfWeek.setDate(startOfWeek.getDate() - day);
                startOfWeek.setHours(0, 0, 0, 0); 
                startOfWeek.setHours(startOfWeek.getHours() + 8);

                return new DayPilot.Date(startOfWeek);
            }

            weekView.onEventMove = function (args) {
                args.preventDefault();
            };

            weekView.onEventClicked = function (args) {
                if (args.e.data.id !== "temp-selected") {
                    console.log(args.e.data.id);
                    alert('You cannot select unavailable time slots');  
                }
            };

            weekView.onTimeRangeSelected = function (args) {
                weekView.events.list = weekView.events.list.filter(e => e.id !== "temp-selected");
                weekView.events.add({
                    id: "temp-selected",
                    start: args.start,
                    end: args.end,
                    backColor: "#d4edda",
                    barHidden: true,
                    borderColor: "#c3e6cb",
                });
                weekView.update();

                schedule_btn.disabled = false;
                schedule_btn.style.backgroundColor = "green";
                schedule_btn.style.color = "white";            
                schedule_btn.style.cursor = "pointer";   
            };

            document.querySelectorAll(".doctor-link").forEach(function (element) {
                element.addEventListener("click", function () {
                    console.log("Minji so yeppuda");
                    doctor_id = this.getAttribute("doctor-id");
                    
                    console.log(doctor_id);

                    fetch("{% url 'patient calendar api' %}", {
                        method: "POST",
                        headers: {
                            "Content-type": "application/json",
                            "X-CSRFToken": "{{ csrf_token }}",
                        },
                        body: JSON.stringify({ doctorID: doctor_id }),
                    })
                    .then(response => response.json())
                    .then(taken_slot => {
                        console.log()
                        past_slot = [];
                        const now = new DayPilot.Date();
                        const startOfWeek = DayPilot.Date(weekView.startDate);
                        current = startOfWeek;

                        while (current < now) {
                            past_slot.push({
                                start: current.toString(),
                                end: current.addMinutes(30).toString(),
                                backColor: "#808080",       
                                barHidden: true,           
                                borderColor: "#808080",     
                                toolTip: "Past time slot.",
                            });
                            current = current.addMinutes(30);
                        } 
                        
                        unavailable_slot = taken_slot.map(event => ({
                            ...event,
                            backColor: "#f8d7da",       
                            barHidden: true,           
                            borderColor: "#f5c6cb",     
                            toolTip: "Unavailable time slot.",
                        }));
                        
                        unavailable_slot = [...unavailable_slot, ...past_slot];

                        weekView.events.list = unavailable_slot;
                        weekView.init();
                    });
                });
            });

          
        });
    </script>

    <div>
        <div id="dpWeek"></div>
        <button id="set-schedule-btn" disabled=true style="background-color: gray; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: not-allowed;">
            Set schedule
        </button>
    </div>

    <main class="doctor-cards">
        {% for doctor in doctors %}
            <div class="doctor-link" doctor-id="{{doctor.id}}">
                <div class="doctorprofile">
                    <div class="doctorname">Dr. {{ doctor.user.first_name }} {{ doctor.user.last_name }}</div>
                    <div class="doctortitle">Specialization: {{ doctor.specialty }}</div>
                    <div class="address">Address: {{ doctor.clinic_address }}</div>
                </div>
            </div>
        {% endfor %}
    </main>

    
    

</html>