{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
    content="IE=edge">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    <title>Appointmed</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/patient_appointments.css" %}">
    <script src="{% static 'js/patient_appointments.js' defer%}" async></script>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">LOGO</div>
            <div class="menu">
                <a href="{% url 'patient home' %}">Home</a>
                <a href="{% url 'patient about' %}">About</a>
                <a href="{% url 'patient appointments' %}">Appointments</a>
                <a href="{% url 'patient profile' %}"><i><b>Hi, User!</i></b></a>
            </div>
        </div>
    </header>

    <main>
        <h1>Your appointments</h1>
        <div class="main-filters">
            <button class="filter-button active" id="pending">Pending</button>
            <button class="filter-button" id="scheduled">Scheduled</button>
            <button class="filter-button" id="completed">Completed</button>
            <button class="filter-button" id="rejected">Rejected</button>
            <button class="filter-button" id="all">All</button>
        </div>

        <!-- Empty message -->
        <div id="empty-message">
            <div class="appointment-summary">
                <div class="appointment-info">
                    <p>No appointments here.</p>
                </div>
            </div>
        </div>

        <!-- Appointment Row -->
        {% for appointment in appointments %}
            <div class="appointment {{appointment.status}}">
                <div class="appointment-summary">
                    <img src="path-to-doctor-image.jpg" alt="Dr. Jose Rizal">
                    <div class="appointment-info">
                        
                        <h2>Dr. {{ appointment.doctor.user.first_name }} {{ appointment.doctor.user.last_name }}</h2>
                        <p>{{ appointment.doctor.clinic_address }}</p>
                    </div>
                    <div class="appointment-time">
                        <div class="date-time">
                            <p>{{ appointment.appointment_date|date:"F j, Y" }}</p>
                            <p>{{ appointment.appointment_date|date:"g:i - " }} 
                            {{ appointment.appointment_end|date:"g:i A" }}</p>
                        </div>
                        <button class="expand-btn">▼</button>
                    </div>
                </div>
                <div class="appointment-details">
                    <p>Details: {{ appointment.status }}</p>
                    <p>Appointment fee: $420.00</p>
                    {% if appointment.status == 'scheduled' or appointment.status == 'pending' %}
                        <form action="{% url 'patient cancel api' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="appointment-id" value="{{ appointment.id }}">
                            <button name="action" class="cancel-btn">Cancel</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        
        
    </main>

</body>
</html>
