<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
    content="IE=edge">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    <title>Appointmed</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/patient_home1.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <script src="{% static 'js/daypilot-all.min.js' %}" async></script>
    <script src="{% static 'js/patient_home.js' defer %}" async></script>
    <script>
        patientCalendarAPI = "{% url 'patient calendar api' %}";
        patientBookingAPI = "{% url 'patient booking api' %}";
        selectedDate = null;
        selectedTime = null;

        document.addEventListener("DOMContentLoaded", function() {
            selectedDate = document.querySelector(".selected-date");
            selectedTime = document.querySelector(".selected-time");
        });
    </script>

    <div class="main">
        <header class="navbar">
            <!--insert proper logo nalang-->
            <div class="logo">AppointMed</div>
            <div class="menu">
                <a href="Appointmed.html">Home</a>
                <a href="{% url "patient about" %}">About</a>
                <a href="{% url "patient appointments" %}">Appointments</a>

                <div class="navbarMenus">
                    <a id="notification-button" onclick="showNotificationMenu()">Notifications</a>
                    
                    <div id="notification-menu" class="hideMenu">
                        <!--change to proper logo-->
                        <h1 id="notification-menu-label">Notifications</h1>
                        <hr>
                        
                        <div id="user-notifications">
                            {% if notification|length == 0 %}
                                <div class="notificationRight">
                                    <h1>Nothing to see here.</h1>
                                </div>
                            {% endif %}
                            {% for notification in notifications %}
                                <div class="notificationItem">
                                    <div class="notificationDetails">
                                        <div class="notificationLeft">
                                            <!--change to proper picture-->
                                            <div class="notificationPicture"></div>
                                        </div>
                                        
                                        {% if notification.notification_type == "accepted" %}
                                            <div class="notificationRight">
                                                <h1><b>Dr. {{ notification.appointment.doctor.user.first_name }} {{ notification.appointment.doctor.user.last_name }}</b> 
                                                has accepted your appointment request on {{ notification.appointment.appointment_date }}.</h1>
                                                <p>{{ notification.time_ago }}</p>
                                            </div>
                                        {% elif notification.notification_type == "rejected" %}
                                            <div class="notificationRight">
                                                <h1><b>Unfortunately, Dr. {{ notification.appointment.doctor.user.first_name }} {{ notification.appointment.doctor.user.last_name }}</b> 
                                                rejected your appointment request on {{ notification.appointment.appointment_date }}.</h1>
                                                <p>{{ notification.time_ago }}</p>
                                            </div>
                                        {% elif notification.notification_type == "rescheduled" %}
                                        <div class="notificationRight">
                                            <h1><b>Dr. {{ notification.appointment.doctor.user.first_name }} {{ notification.appointment.doctor.user.last_name }}</b> 
                                            requested to reschedule your appointment to {{ notification.appointment.appointment_date }}.</h1>
                                            <form action="{% url 'patient reschedule api' %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="notification_id" value="{{ notification.id }}">
                                                <button name="action" value="accept">Accept</button>
                                                <button name="action" value="reject">Reject</button>
                                            </form>
                                            <h1>Note: Rejecting would cancel your appointment request.</h1>
                                            <p>{{ notification.time_ago }}</p>
                                        </div>
                                        {% elif notification.notification_type == "reschedule_accepted" %}
                                            <div class="notificationRight">
                                                <h1><b>Your appointment with Dr. {{ notification.appointment.doctor.user.first_name }} {{ notification.appointment.doctor.user.last_name }}</b> 
                                                has been rescheduled to {{ notification.appointment.appointment_date }}.</h1>
                                                <p>{{ notification.time_ago }}</p>
                                            </div>
                                        {% elif notification.notification_type == "reschedule_rejected" %}
                                            <div class="notificationRight">
                                                <h1><b>You canceled your appointment with Dr. {{ notification.appointment.doctor.user.first_name }} {{ notification.appointment.doctor.user.last_name }}</b> 
                                                on {{ notification.appointment.appointment_date }}.</h1>
                                                <p>{{ notification.time_ago }}</p>
                                            </div>
                                        {% endif %}
    
    
                                        
                                    </div>
                
                                    <hr>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="navbarMenus">
                    <!--change to proper user picture-->
                    <button type="button" id="user-menu-button" onclick="showUserMenu()"></button>
                    
                    <div id="user-menu" class="hideMenu">
                        <!--change to proper logo-->
                        <h1 id="user-menu-logo">AppointMed</h1>
            
                        <div id="user-profile">
                            <!--change to proper picture-->
                            <div id="user-picture"></div>
                            <h1 id="user-name">Hi, <i>{{ patient.user.first_name }} {{ patient.user.last_name }}</i>!</h1>
                            <!--pwede naman username or pwede naman tanggalin nalang-->
                            <h1 id="patient-email">{Patient Email}</h1>
                            <i id="personal-address">{Personal Address}</i>
                            <!--add log out icon-->
                            <button type="button" id="log-out-button">Log out</button>
                            <p id="appointmed-2024">© AppointMed 2024</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <aside class="sidebar">
            <div class="doctor">DOCTORS</div>
            <div class="bodyparts">
                <ul id="specialization-list">
                    {% for specialization in specializations %}
                        <li><a href="" style="color: white; text-decoration: none;">{{ specialization }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </aside>

        <main>
            <meta name="csrf-token" content="{{ csrf_token }}">
            {% for doctor in doctors %}
                <div class="doctor-link" name="{{ doctor.id }}" doctor-specialty="{{doctor.specialty}}" data-doctor-id="{{ doctor.id }}">
                    <div class="doctorprofile" onclick="cardExpansion({{ doctor.id }})">
                        <img src="doctor-profile-image.jpg">
                        <div class="doctorname">Dr. {{ doctor.user.first_name }} {{ doctor.user.last_name }}</div>
                        <div class="doctortitle">{{ doctor.specialty }}</div>
                        <div class="address"><i>{{ doctor.clinic_address }}</i></div>
                    </div>
                    <div class="doctorcard hidden">
                        <div class="left" onclick="cardExpansion({{ doctor.id }})">
                            <img src="doctor-profile-image.jpg">
                            <div class="doctor-name">Dr. {{ doctor.user.first_name }} {{ doctor.user.last_name }}</div>
                            <div class="doctor-title">{{ doctor.specialty }}</div>
                            <div class="doctor-address"><i>{{ doctor.clinic_address }}</i></div>
                        </div>

                        <div class="middle">
                            <!-- Doctor Name and Rating -->
                            <div class="title">
                                <span>{{ doctor.user.first_name }} {{ doctor.user.last_name }}</span>
                                <div class="rating"><span>{x}</span> ★</div>
                            </div>
                        
                            <!-- General Information -->
                            <div class="info">
                                <p><strong>{{ doctor.specialty }}</strong></p>
                                <p>{{ doctor.clinic_address }}</p>
                                <p>Over 15 years of experience in neurosurgery</p>
                                <p>Doctor of Medicine<br><i>University of ABC Medical School</i></p>
                                <p>Residency Training in Neurosurgery<br><i>ABC Teaching Hospital</i></p>
                                <p>Board Certification in Neurosurgery<br><i>ABC Board of Neurological Surgeons</i></p>
                                <p>Office hours: 9:00 AM - 4:30 PM</p>
                            </div>

                            <!-- Highlighted Quote -->
                            <div class="highlight">
                                <i>"Stop screaming, I'm scared too."</i>
                            </div>
                        
                            <!-- Link to Reviews -->
                            <a href="#">View Patient Reviews</a>
                        </div>

                        <div class="right">
                            <div id="{{ doctor.id }}"></div>
                            <div class="scheduleDisplay">
                                <h1 id="selected-date{{ doctor.id }}">Select date</h1>
                                <h1 id="selected-time{{ doctor.id }}">Select time</h1>
                            </div>
                            <button class="bookButton" id="bookButton{{ doctor.id }}">Book appointment <i>*icon*</i></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </main>
    </div>
</body>
            
</html>